////////////////////////////////////////
// Colors
////////////////////////////////////////
// Dimensions (default)
$dimension: white;
$dimension-dark: white;
$dimension-light: $dimension;

$odd-rows: white;

////////////////////////////////////////
// Variable overrides
////////////////////////////////////////
$odd-row-background-color: $odd-rows;