// Color variables are defined in @looker/design-tokens
$brand-color-background: map-get($colors, 'background');
$brand-color-text: map-get($colors, 'text');
$brand-color-key: map-get($colors, 'key');
$brand-color-field: map-get($colors, 'field');
$brand-color-inverse: map-get($colors, 'inverse');
$brand-color-inverseOn: map-get($colors, 'inverseOn');
$brand-color-link: map-get($colors, 'link');
$brand-color-linkInteractive: map-get($colors, 'linkInteractive');
$brand-color-critical: map-get($colors, 'critical');
$brand-color-warn: map-get($colors, 'warn');
$brand-color-neutral: map-get($colors, 'neutral');
$brand-color-positive: map-get($colors, 'positive');
$brand-color-inform: map-get($colors, 'inform');
$brand-color-ui1: map-get($colors, 'ui1');
$brand-color-ui2: map-get($colors, 'ui2');
$brand-color-ui3: map-get($colors, 'ui3');
$brand-color-ui4: map-get($colors, 'ui4');
$brand-color-ui5: map-get($colors, 'ui5');
$brand-color-text0: map-get($colors, 'text0');
$brand-color-text1: map-get($colors, 'text1');
$brand-color-text2: map-get($colors, 'text2');
$brand-color-text3: map-get($colors, 'text3');
$brand-color-text4: map-get($colors, 'text4');
$brand-color-text5: map-get($colors, 'text5');
$brand-color-text6: map-get($colors, 'text6');
$brand-color-keySubtle: map-get($colors, 'keySubtle');
$brand-color-keyAccent: map-get($colors, 'keyAccent');
$brand-color-keyFocus: map-get($colors, 'keyFocus');
$brand-color-keyInteractive: map-get($colors, 'keyInteractive');
$brand-color-keyPressed: map-get($colors, 'keyPressed');
$brand-color-keyText: map-get($colors, 'keyText');
$brand-color-keyBorder: map-get($colors, 'keyBorder');
$brand-color-criticalSubtle: map-get($colors, 'criticalSubtle');
$brand-color-criticalAccent: map-get($colors, 'criticalAccent');
$brand-color-criticalFocus: map-get($colors, 'criticalFocus');
$brand-color-criticalInteractive: map-get($colors, 'criticalInteractive');
$brand-color-criticalPressed: map-get($colors, 'criticalPressed');
$brand-color-criticalText: map-get($colors, 'criticalText');
$brand-color-criticalBorder: map-get($colors, 'criticalBorder');
$brand-color-neutralSubtle: map-get($colors, 'neutralSubtle');
$brand-color-neutralAccent: map-get($colors, 'neutralAccent');
$brand-color-neutralFocus: map-get($colors, 'neutralFocus');
$brand-color-neutralInteractive: map-get($colors, 'neutralInteractive');
$brand-color-neutralPressed: map-get($colors, 'neutralPressed');
$brand-color-neutralText: map-get($colors, 'neutralText');
$brand-color-neutralBorder: map-get($colors, 'neutralBorder');

// CSS custom property variables defined in _root_variables.scss
$var-brand-color-background: var(--brand-color-background);
$var-brand-color-text: var(--brand-color-text);
$var-brand-color-key: var(--brand-color-key);
$var-brand-color-field: var(--brand-color-field);
$var-brand-color-inverse: var(--brand-color-inverse);
$var-brand-color-inverseOn: var(--brand-color-inverseOn);
$var-brand-color-link: var(--brand-color-link);
$var-brand-color-linkInteractive: var(--brand-color-linkInteractive);
$var-brand-color-critical: var(--brand-color-critical);
$var-brand-color-warn: var(--brand-color-warn);
$var-brand-color-neutral: var(--brand-color-neutral);
$var-brand-color-positive: var(--brand-color-positive);
$var-brand-color-inform: var(--brand-color-inform);
$var-brand-color-ui1: var(--brand-color-ui1);
$var-brand-color-ui2: var(--brand-color-ui2);
$var-brand-color-ui3: var(--brand-color-ui3);
$var-brand-color-ui4: var(--brand-color-ui4);
$var-brand-color-ui5: var(--brand-color-ui5);
$var-brand-color-text0: var(--brand-color-text0);
$var-brand-color-text1: var(--brand-color-text1);
$var-brand-color-text2: var(--brand-color-text2);
$var-brand-color-text3: var(--brand-color-text3);
$var-brand-color-text4: var(--brand-color-text4);
$var-brand-color-text5: var(--brand-color-text5);
$var-brand-color-text6: var(--brand-color-text6);
$var-brand-color-keySubtle: var(--brand-color-keySubtle);
$var-brand-color-keyAccent: var(--brand-color-keyAccent);
$var-brand-color-keyFocus: var(--brand-color-keyFocus);
$var-brand-color-keyInteractive: var(--brand-color-keyInteractive);
$var-brand-color-keyPressed: var(--brand-color-keyPressed);
$var-brand-color-keyText: var(--brand-color-keyText);
$var-brand-color-keyBorder: var(--brand-color-keyBorder);
$var-brand-color-criticalSubtle: var(--brand-color-criticalSubtle);
$var-brand-color-criticalAccent: var(--brand-color-criticalAccent);
$var-brand-color-criticalFocus: var(--brand-color-criticalFocus);
$var-brand-color-criticalInteractive: var(--brand-color-criticalInteractive);
$var-brand-color-criticalPressed: var(--brand-color-criticalPressed);
$var-brand-color-criticalText: var(--brand-color-criticalText);
$var-brand-color-criticalBorder: var(--brand-color-criticalBorder);
$var-brand-color-neutralSubtle: var(--brand-color-neutralSubtle);
$var-brand-color-neutralAccent: var(--brand-color-neutralAccent);
$var-brand-color-neutralFocus: var(--brand-color-neutralFocus);
$var-brand-color-neutralInteractive: var(--brand-color-neutralInteractive);
$var-brand-color-neutralPressed: var(--brand-color-neutralPressed);
$var-brand-color-neutralText: var(--brand-color-neutralText);
$var-brand-color-neutralBorder: var(--brand-color-neutralBorder);
