// Demonstrates how to extend the base theme and add your own styles

// NOTE: the base theme is a very basic theme, with as little as possible in the way of
// opinionated design decisions. This makes it a good base for visually distinctive themes
// that look very different to the provided themes (Alpine, Balham, Material).

// ag-grid.scss defines structural styles and should be imported first
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-mixin.scss";
@import "~ag-grid-community/src/styles/webfont/agGridAlpineFont.scss";

.ag-theme-custom-example {
  // pass parameters to the base theme to control look and feel
  @include ag-theme-base((
    grid-size: 10px,
    icon-size: 16px,

    icons-data: null, // don't use the icon font data from the base theme
    icon-font-family: "agGridAlpine" // use the Alpine icon font
  ));

  // add CSS rules to implement styles not covered by the base theme parameters
  .ag-column-drop {
    background-color: lightgreen;
  }
}

// for example purposes, remove margin and padding of the grid and also removing the outline from focused items.
html,
body {
  margin: 0;
  padding: 2px;
  height: 100%;
  *:focus {
    outline: none;
  }

  font-family: Open Sans,Helvetica,Arial,Noto Sans TC, Noto Sans SC,sans-serif;
}

.ag-header-group-cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 6px solid #ffffff !important;
  // border-right: 6px solid #ffffff !important;
  box-shadow: 0px -2px 0px #000000 inset;
  font-weight: bold;
  padding-left: 6px;
}

.ag-header-cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 6px solid #ffffff !important;
  // border-right: 6px solid #ffffff !important;
  box-shadow: 0px -2px 0px #000000 inset;
  font-weight: bold;
  padding-left: 6px;
}

.ag-header-group-cell-label { justify-content: center !important; }

.ag-header-cell.text-center {
  .ag-header-cell-label {
    justify-content: center;
  }
}

.ag-header-cell.text-left {
  .ag-header-cell-label {
    justify-content: flex-start;
  }
}

.ag-header-cell.text-right {
  .ag-header-cell-label {
    justify-content: flex-end;
  }
}

.ag-cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: 6px solid #ffffff !important;
  // border-right: 6px solid #ffffff !important;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #ffffff; // for some reason this makes rowspanning work again
}

.nonNumeric {
  text-align: left;
}

.numeric {
  text-align: right;
}

.negative {
  color: red;
}

.subtotal {
  font-style: italic;
  font-weight: bold !important;
}

.total {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 2px 0px #000000 inset;
  font-weight: bold !important;
}

.total.transposed {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: none;
}
