// ag-grid.scss defines structural styles and should be imported first
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-base/sass/ag-theme-base-mixin.scss";
@import "~ag-grid-community/src/styles/webfont/agGridAlpineFont.scss";

$ag-bal-icons-path: '~ag-grid-community/src/styles/ag-theme-balham/icons/';
$ag-icons-path: '~ag-grid-community/src/styles/ag-theme-base/icons/';

.ag-theme-balham {
  @import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin.scss';
  @include ag-theme-balham();
}

.ag-theme-finance {
  @import './ag_theme_finance/ag_theme_finance.scss';
  @include ag-theme-finance();
}

.nonNumeric {
  text-align: left;
}

.numeric {
  text-align: right;
}