#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
}

table.reportTable {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 12px;   
  width: 100%;
  border: 1px solid #CCCCCC; 
  border-collapse: collapse;
  border-spacing: 3px;
  table-layout: auto;
}

table.reportTable th {
  border: 1px solid #CCCCCC; 
  border-bottom: 1px solid #000000 !important;
  /* font-size: 10px;  */
  /* height: 25px; */
  padding: 5px;

  /*max-width: 0px;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
}

table.reportTable td {
  vertical-align: super;
  padding: 5px;
  /*background: #FFFFFF;*/
  border: 1px solid #CCCCCC; 
  border-collapse: collapse;

  /*max-width: 0;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
}

.left {
  text-align: left;
}

.right {
  text-align: right !important;
}

.indent {
  padding-left: 15px !important;
}

.total {
  border-top: 2px solid #000000 !important;
  font-weight: bold !important;
}

.red {
  color: red;
}
