#visContainer {
  position: absolute;
  z-index: 0;
}

#visSvg {
  position: absolute;
  z-index: 1;
}

table.reportTable {
  width: 100%;
  table-layout: fixed;
  opacity: 0;
  transition: opacity 1000ms;
}

table.reportTable.reveal {
  opacity: 1;
  transition: opacity 1000ms;
}

table.reportTable th {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
}	

table.reportTable td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rectElem.animated {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
