@font-face {
  font-family: 'Noto Sans TC';
  src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2')
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 2;
}

.tooltipTable {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  border: 0px;
  border-collapse: collapse;
  table-layout: auto;
}

.focus {
  font-weight: bold;
}

.hidden {
    display: none;
}

.hover {
  background-color: #ffffbb;
}

.reportTable {
  font-family: Open Sans,Helvetica,Arial,Noto Sans SC,Noto Sans TC,sans-serif;
  border: 1px solid #CCCCCC; 
  border-collapse: collapse;
  border-spacing: 3px;
}

table.reportTable th {
  border: 1px solid #CCCCCC; 
  border-bottom: 1px solid #000000 !important;
  padding: 5px;
}

table.reportTable td {
  vertical-align: super;
  padding: 5px;
  border: 1px solid #CCCCCC; 
  border-collapse: collapse;
}

.headerCell {
  border-bottom: 1px solid #000000 !important;
  font-weight: bold;
  padding: 5px;
}

.indexCell.transposed {
  font-weight: bold;
}

.indexCell.transposed.merged {
  background-color: #ffffff !important;
}

.rowCell {
  vertical-align: super;
  padding-left: 5px;
}

.nonNumeric {
  text-align: left;
}

.numeric {
  text-align: right;
}

.negative {
  color: red;
}

.estimate {
  color: darkgray !important;
}

.singleIndex {
  padding-left: 15px !important;
}

.subtotal {
  font-style: italic;
  font-weight: bold;
  background: #D3D3D3;
}

.total {
  border-top: 2px solid #000000 !important;
  font-weight: bold !important;
}

.total.transposed {
  border-top: 0px !important;
  background: #D3D3D3;
}

.rectElem.animated {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  margin: 4px;
}