#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 2;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.reportTable {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 12px;
  border: 1px solid #CCCCCC; 
  border-collapse: collapse;
  border-spacing: 3px;
}

.reportTable th {
  color: #FFFFFF;
  background: #E60000;
  border: 1px solid #CCCCCC; 
  border-bottom: 1px solid #CCCCCC !important;
  /* font-size: 10px;  */
  /* height: 25px; */
  padding: 5px;
}

.reportTable td {
  color: #000000;
  vertical-align: super;
  padding: 5px;
  /*background: #FFFFFF;*/
  border: 1px solid #CCCCCC; 
  border-collapse: collapse;
}

.left {
  text-align: left;
}

.right {
  text-align: right !important;
}

.indent {
  padding-left: 15px !important;
}

.subtotal {
  font-style: italic;
  font-weight: bold;
  background: #D3D3D3;
}

.total {
  border-top: 2px solid #000000 !important;
  font-weight: bold !important;
}

.total.transposed {
  border-top: 0px !important;
  background: #D3D3D3;
}

.red {
  color: red;
}
